# dependencies
/node_modules
npm-debug.log
yarn-error.log

# environment variables
.env
.env.test
.env.production

# build
/dist
/generated
.build

# coverage
/coverage

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
.agents/scratch/
